@using SearchService.Models
@model IEnumerable<Record>

@foreach (var m in Model)
{
    <div class="media">

        <div class="media-body">
            <h2 class="media-heading">@m.Id</h2>
            <p>@m.Text</p>
        </div>
    </div>
}
